<!DOCTYPE html>
<html data-wf-page="5ea837e8c81001b668dffd4a" data-wf-site="5ea837e8c8100167b2dffd49">
<head>
  <meta charset="utf-8">
  <title>MaceQuest | Takshak.Online</title>
  <link rel="shortcut icon" type="image/x-icon" href="../public/images/takshak-favicon.png" />
  <link href="../public/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="../public/css/split-opl.webflow.css?ver=1.1" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body class="body">
  <div class="columns w-row">
    <div class="leftcontent w-col w-col-6 w-col-stack">
      <div data-w-id="b84f5156-c6e2-fb1d-6606-98a08030a472" style="opacity:0" class="image"></div>
    </div>
    <div class="rightcontent w-col w-col-6 w-col-stack">
      <div data-w-id="3fd5aeb3-22da-ed60-7286-0d11f16597d3" style="opacity:0" class="content">
        <h1 class="tagline"><strong class="bold-text">Task 1</strong></h1>
        <p class="bio">Turn right left right left up down up down</p>
        <button type="button" class="btn btn-success">Option 1</button><br/><br/>
        <button type="button" class="btn btn-success">Option 2</button><br/><br/>
        <button type="button" class="btn btn-success">Option 3</button><br/><br/>
        <button type="button" class="btn btn-success">Option 4</button><br/><br/>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5ea837e8c8100167b2dffd49" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="../public/js/webflow.js" type="text/javascript"></script>
</body>
</html>