<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trailblazers</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <h1 class="welcome">Welcome</h1>
    <div class="tform">
        <form method="POST" action="/">
            <label>Your Team Name</label>
            <input class="tname" type="text" name="name" placeholder="Enter Team Name">
            <input class="tbtn" type="submit" value="Enter"> 
        </form>
    </div>
</body>
</html>