<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaceQuest | Takshak.Online</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/takshak-favicon.png" />
   <script src="https://kit.fontawesome.com/087042e108.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div class="container v-header">
        <div class="video-container">
            <!--<iframe id="myvideo" class="video-player" src="<%= video %>"" allowfullscreen></iframe>-->
            <video id="myvideo" class="video-player" src="<%= typeof video !='undefined'? `/videos/${video}.mp4?autoplay=1` : 'Not displaying' %>" 
                autoplay muted loop>
            </video>
        </div>
        <div class="overlay"></div>
        <div class="instructs">
            <h2>Welcome Trailblazers!</h2>
            <h4>Get ready to rumble</h4>
            <div class="instruct-content">
                <p>Make sure you read the instructions in yur mail</p>
                <p>Set up a meet among yout team mates and share the screen with them.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, dolor?</p>
                <p>Make sure you read the instructions in yur mail <%=team%></p>
            </div>
            <form action="/start" method="POST">
                <input type="hidden" name="team" value="<%=team%>"/>
                <input type="submit" class="start-btn" value="Let's Go!">
            </form>
        </div>
        <div class="exit">
            <a class="start-btn" href="/exit">Exit Game</button>
        </div>
    </div>
    <div class="timer" id="timer">
        <i class="fas fa-clock white"></i> 00:00
    </div>
</body>
</html>