<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trailblazers</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div class="container v-header">
        <div class="video-container">
            <video id="myvideo" class="video-player" src="<%= typeof video !='undefined'? `/videos/${video}.mp4?autoplay=1` : 'Not displaying' %>" 
                autoplay muted loop>
                <!--<source src="<%= typeof video !='undefined'? `/videos/${video}.mp4?autoplay=1` : 'Not displaying' %>" type="video/mp4">-->
            </video>
        </div>
        <div class="overlay"></div>
        <div class="instructs">
            <h2>Welcome Trailblazers!</h2>
            <h4>Get ready to rumble</h4>
            <div class="instruct-content">
                <p>Make sure you read the instructions in yur mail</p>
                <p>Make sure you read the instructions in yur mail</p>
                <p>Make sure you read the instructions in yur mail</p>
                <p>Make sure you read the instructions in yur mail</p>
            </div>
            <form action="/start" method="POST">
                <button class="start-btn" type="submit" formaction="/start">Let's Go</button>
            </form>
        </div>
        <div class="exit">
            <form action="/exit" method="POST">
                <button class="start-btn" type="submit" formaction="/exit">Exit Game</button>
            </form>
        </div>
    </div>
</body>
</html>