<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaceQuest | Takshak.Online</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/takshak-favicon.png" />
   <script src="https://kit.fontawesome.com/087042e108.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="/css/still.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <!--
    <div class="container v-header">
        <div class="video-container">
            <video id="myvideo" class="video-player" src="<%= typeof video !='undefined'? `/videos/${video}?autoplay=1` : 'Not displaying' %>" 
                autoplay muted loop>
            </video>
        </div>
        <div class="overlay"></div>
        <div class="instructs">
            <h2>AHOY TRAILBLAZERS!!!</h2>
            <h4>
                Welcome aboard! Get set for a mocktail of nostalgia and adrenaline!
            </h4>
            <h4>Here’s the rules once again:</h4>
            <div class="instruct-content">
                <ul>
                    <li>Join via a PC/Laptop.</li>
                    <li>Make sure you have a stable internet connection before joining.</li>
                    <li>Please make sure that you are sharing the screen with your teammates and everyone is present.</li>
                    <li>Once you click on ‘Start’, the timer will begin. A video of a previous event at college will play, followed by a question with 4 options.</li>
                    <li>The questions will vary in genre.</li>
                    <li>Only the correct answer will allow the team to proceed to the next destination. </li>
                    <li>Wrong answers WILL NOT cause elimination, but 10 seconds will be added to your timer for every wrong answer. This will not be reflected on your timer, it will be cumulatively added in the end.</li>
                    <li>Remember, timing is the key. Make sure you complete answering as quickly as possible, as the criteria for winning is timing alone. The team that takes the least amount of time, wins.</li>
                    <li>Multiple trials of the entire game is not allowed.</li>
                    <li>Organisers' decision is final.</li>
                    <li>Malpractice will cause immediate elimination of the team.</li>
                    <li>In case of any problem during the game, feel free to contact the below mentioned during 8:00 am to 8:00 pm. In case, the team plays, at a time outside this window and faces a problem, worry not, we will host it again if required for legitimate issues.
                        <br>Contacts: Abdul Manaf: +91 79079 49547
                        <br>Elizabeth Jacob: +91 9947800016</li>
                </ul>
            </div>
            <form action="/start" method="POST">
                <input type="hidden" name="team" value="<%=team%>"/>
                <input type="submit" class="start-btn" value="Let's Go!">
            </form>
        </div>
    </div>
    <div class="timer" id="timer">
        <i class="fas fa-clock white"></i> 00:00
    </div>
    -->
    <div class="main">
        <div class="main-heading w3ls">
            <h1>AHOY TRAILBLAZERS!!!</h1>
        </div>
        <div class="pricing-table">
            <div class="pricing">
                <div class="price-top clr1 w3ls">
                    <h3>Welcome aboard! Get set for a mocktail of nostalgia and adrenaline!</h3>
                </div>
                <div class="price-bottom">
                    <div class="price2">
          <h1>Here’s the rules once again:</h1>
        <ul style="list-style-type:square">
          <li>Join via a PC/Laptop.</li>
          <li>Make sure you have a stable internet connection before joining.</li>
          <li>Please make sure that you are sharing the screen with your teammates and everyone is present.</li>
          <li>Once you click on ‘Start’, the timer will begin. A video of a previous event at college will play, followed by a question with 4 options.</li>
          <li>The questions will vary in genre.</li>
          <li>Only the correct answer will allow the team to proceed to the next destination. </li>
          <li>Wrong answers WILL NOT cause elimination, but 10 seconds will be added to your timer for every wrong answer. This will not be reflected on your timer, it will be cumulatively added in the end.</li>
          <li>Remember, timing is the key. Make sure you complete answering as quickly as possible, as the criteria for winning is timing alone. The team that takes the least amount of time, wins.</li>
          <li>Multiple trials of the entire game is not allowed.</li>
          <li>Organisers' decision is final.</li>
          <li>Malpractice will cause immediate elimination of the team.</li>
          <li>In case of any problem during the game, feel free to contact the below mentioned during 8:00 am to 8:00 pm. In case, the team plays, at a time outside this window and faces a problem, worry not, we will host it again if required for legitimate issues.
             <br>Contacts: Abdul Manaf: +91 79079 49547
             <br>Elizabeth Jacob: +91 9947800016
          </li>
        </ul>
        <div class="start-container">
        <form action="/start" method="POST">
            <input type="hidden" name="team" value="<%=team%>"/>
            <input type="submit" class="l-btn" value="Let's Go!">
        </form>
        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="timer" id="timer">
            <i class="fas fa-clock white"></i> 00:00
        </div>
</body>
</html>