<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MaceQuest | Takshak.Online</title>
<link rel="shortcut icon" type="image/x-icon" href="../public/images/takshak-favicon.png" />
<link rel="stylesheet" type="text/css" href="../public/css/main1.css">
</head>

<body>
<div class="limiter">
<div class="container-table100">
<div class="wrap-table100">
<div class="table100">
<h1>LEADERBOARD</h1>
<table>
<thead>
<tr class="table100-head">
<th class="column1">Rank</th>
<th class="column2">Team Name</th>
<th class="column3">Registered Mail Id</th>
<th class="column4">Points</th>
</tr>
</thead>
<tbody>
<tr>
<td class="column1">1</td>
<td class="column2">PowerRangers</td>
<td class="column3">sayanora123@gmail.com</td>
<td class="column4">576</td>
</tr>
<tr>
<td class="column1">2</td>
<td class="column2">PrimeAvengers</td>
<td class="column3">mahesh5667@gmail.com</td>
<td class="column4">560</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</body>
</html>
