<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MaceQuest | Takshak.Online</title>
<link rel="shortcut icon" type="image/x-icon" href="/images/takshak-favicon.png" />
<link rel="stylesheet" type="text/css" href="/css/main1.css">
</head>

<body>
<div class="limiter">
<div class="container-table100">
<div class="wrap-table100">
<div class="table100">
<h1>LEADERBOARD</h1>
<table>
<thead>
<tr class="table100-head">
<th class="column2">Team Name</th>
<th class="column3">Registered Mail Id</th>
<th class="column4">Time</th>
</tr>
</thead>
<tbody>
    <% if (typeof teams != 'undefined'){ %>
        <% teams.forEach(function(team){ %>
            <tr>
                <!--<th class="column1">Rank</th>
                <td class="column1">1</td>-->
                <td class="column2"><%= team.name %></td>
                <td class="column3"><%= team.email %></td>
                <td class="column4"><%= team.score %></td>
            </tr>
        <%})%>
    <%}%>

</tbody>
</table>
</div>
</div>
</div>
</div>
</body>
</html>