<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trailblazers</title>
    <script src="https://kit.fontawesome.com/087042e108.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/contest.css" type="text/css">
</head>
<body>
    <table border="1">
        <thead>
            <tr>
            <th>Email Id</th>
            <th>Team Name</th>
            <th>Time Taken</th>
            </tr>
        </thead>
        <tbody>
        <% if (typeof teams != 'undefined'){ %>
            <% teams.forEach(function(team){ %>
                <tr>
                    <td><%= team.email %></td>
                    <td><%= team.name %></td>
                    <td><%= team.score %></td>
                </tr>
            <%})%>
        <%}%>
        </tbody>
    </table>
    <script src="/js/main.js"></script>
</body>
</html>