<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaceQuest | Takshak.Online</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/takshak-favicon.png" />
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <h1 class="welcome">Welcome</h1>
    <div class="tform">
        <form method="POST" action="/">
            <label>Enter Registered Email Id</label>
            <input class="tname" type="text" name="email" placeholder="Enter Email Id">
            <input class="tbtn" type="submit" value="login"> 
        </form>
    </div>
</body>
</html>
