*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
.welcome{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    padding: 30px 10px;
}
.tform{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 20px 40px;
}
.tform form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.tform form label{
    margin: 15px 0px;
}
.tform form input{
    margin: 10px;
    text-align: left;
}
.tform form .tname{
    border: none;
    border-bottom: 1px solid #000000;
    padding: 5px;
    font-size: 16px;
    width: 110%;
}
.tform form .tbtn{
    margin-top: 30px;
    padding: 10px 30px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #000000;
    cursor: pointer;
}
.tform form .tbtn:hover{
    transition: 1s;
    color: #000000; 
    background-color: #ffffff;
}
